<div [ngSwitch]="alerta">
    <div *ngSwitchDefault class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div *ngSwitchCase="'light'" class="alert alert-light" role="alert">
        A simple light alert—check it out!
    </div>
</div>
<div>
    <div class="form-group col-md-4">
        <label for="inputState">Color:</label>
        <select id="inputState" #mySelect class="form-control" (change)="alerta = mySelect.value">
        <option selected="">--Seleccione--</option>
        <option value="secondary">secondary</option>
        <option value="success">success</option>
        <option value="danger">danger</option>
        <option value="warning">warning</option>
        <option value="info">info</option>
        <option value="light">light</option>
      </select>
    </div>
</div>